<div class="modal-dialog text-center">
  <div class="col-sm-8 main-section">
    <div class="modal-content">
      <div class="col-12 user-img">
        <img src="assets/images/face.png">
      </div>

      <form class="col-12">
        <div class="form-group">
          <input 
            name="userName"
            #userName
            type="text" 
            class="form-control" 
            placeholder="Enter userName"
            [(ngModel)]="vm.userName">
        </div>

        <div class="form-group">
          <input 
            name="userPassword"
            #userPassword
            type="password" 
            class="form-control" 
            placeholder="Enter Password"
            [(ngModel)]="vm.userPassword">
        </div>

        <button type="submit" class="btn" (click)="login()" ><i class="fa fa-arrow-right">  Login</i></button>

        <div class="col-12 forgot">
          <a href="javascript:;" (click)="forgot()">Forgot Password</a>
        </div>
      </form>
    </div> <!--- End of content-->
  </div>
</div>