<div class="row" *ngIf="!cargando">
  <div class="col-md-12 col-lg-12 col-xl-8 offset-md-0 offset-lg-0 offset-xl-2">
    <div class="card tmts-shadowIndex">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col-8">
              <h4 [ngClass]="{ 'text-success': vm.estado, 'text-danger': !vm.estado }">{{ vm.estado ? 'Activo':'Inactivo' }}</h4>
              <h6 class="text-muted m-b-0">State</h6>
          </div>
        </div>
      </div>
      <div class="card-footer" [ngClass]="{ 'bg-success': vm.estado, 'bg-danger': !vm.estado }">
        <div class="row align-items-center">
          <div class="col-12 text-right">
              <i class="fa fa-info-circle text-white fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="!cargando">
  <div class="col-md-12 col-lg-12 col-xl-8 offset-md-0 offset-lg-0 offset-xl-2">
    <div class="card tmts-shadow" >
      <div class="card-body">

        <h5>PRINCIPAL INFORMATION</h5>
        <div class="table-responsive">
          <table class="table matrics-table">
            <tbody>
              <tr *ngIf="vm.nombre">
                <td><strong>Name</strong></td>
                <td>{{vm.nombre}}</td>
              </tr>
              
              <tr *ngIf="vm.apellido">
                <td><strong>Last Name</strong></td>
                <td>{{vm.apellido}}</td>
              </tr>

              <tr *ngIf="vm.cedula">
                <td><strong>ID</strong></td>
                <td>{{vm.cedula}}</td>
              </tr>

              <tr *ngIf="vm.email">
                <td><strong>Email</strong></td>
                <td>{{vm.email}}</td>
              </tr>

              <tr *ngIf="vm.sexo">
                <td><strong>Gender</strong></td>
                <td *ngIf="vm.sexo === 'M'">Male</td>
                <td *ngIf="vm.sexo === 'F'">Female</td>
              </tr>

              <tr *ngIf="vm.fechaCreacion">
                <td><strong>Date Created</strong></td>
                <td>{{vm.fechaCreacion | date: 'MM/dd/yyyy'}}</td>
              </tr>

            </tbody>
          </table>
        </div>

        <h5>TICKET'S INFORMATION</h5>
         <div class="table-responsive">
          <table class="table matrics-table">
            <tbody>
              <tr>
                <td>
                  <button *ngFor="let item of listaTicketsEstado" type="button" class="btn mr-2" style="color: white"  [style.background-color]="item.color">
                    {{ item.descripcion }} <span class="badge badge-light">{{ item.cantidad }}</span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="text-right">
          <button type="button" (click)="volverAtras()" class="btn btn-primary mr-2 mt-3"><i class="fa fa-arrow-left mr-1"></i>Back</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
