<div class="card tmts-shadow" *ngIf="identificador">
  <div class="card-block">
    <div class="row align-items-center ml-0">
      <div class="col-auto">
        <i class="fa fa-hashtag fa-2x" style="color:gray" ></i>
      </div>
      <div class="col-auto">
        <h6 class="text-muted mb-10">Identifier</h6>
        <h2 class="mb-0" >{{ identificador }}</h2>
      </div>
    </div>
  </div>
</div>

<div class="card tmts-shadow" *ngIf="estado">
  <div class="card-block">
    <div class="row align-items-center ml-0">
      <div class="col-auto">
        <i class="fa fa-hashtag fa-2x" style="color:gray" ></i>
      </div>
      <div class="col-auto">
        <h6 class="text-muted mb-10">State</h6>
        <h2 class="mb-0" >{{ estado }}</h2>
      </div>
    </div>
  </div>
</div>